#header-title:hover {
    color: var(--primary-green);
    font-weight: 500;
}

.nav-links {
    margin: 20px 0 0 0;
    padding: 0;
    display: flex;
}

.nav-item {
    font-size: 18px;
    padding: 0 20px;
    list-style: none;
}



