.rsvp-fauxbtn {
    position: fixed;
    bottom: 5%;
    right: 2%;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 2px;
    box-shadow: 1.1px 1px 2px var(--accent-darkerGreen);
}
.rsvp-fauxbtn:hover {
    border: 1px solid var(--accent-darkerGreen);
    background-color: var(--accent-darkGreen-overlay);
    color: white;
}
.rsvp-fauxbtn:active {
    box-shadow: none;
}