:root {
  font-family: "Libre Baskerville";
  /* --primary-background: rgb(221, 236, 210); */
  --primary-background: #f9f9f3;
  --primary-green: rgb(117, 149, 96);
  --accent-darkGreen: rgb(79, 104, 61);
}

* {
  box-sizing: border-box;
}

html {
  color: var(--primary-green);
  background-color: var(--primary-background);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: var(--primary-background);
}
.header-main {
  font-family: "Cormorant Infant";
  font-size: 42px;
  font-weight: 100;
  letter-spacing: 6px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}
input {
  margin: 4px 0;
}
select {
  margin: 4px 0;
}

p {
  font-size: 24px;
}

a {
  text-decoration: none;
}
a:link, a:visited, a:active {
  color: var(--primary-green);
}
a:hover {
  color: var(--accent-darkGreen);
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.content-wrapper {
  width: 100%;
  margin: 40px 0;
  text-align: center;
}
.content-wrapper.wp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.general-info {
  margin-top: 20px;
}
.general-info h1 {
  margin: 0;
}

.faux {
  background-color: var(--accent-darkGreen);
  color: white !important;
  padding: 5px 20px;
  border-radius: 2px;
}
.faux:hover {
  background-color: var(--accent-darkGreen);
}

.address-link {
  text-decoration: underline;
  font-size: 24px;
}

.maids, .men {
  display: flex;
  flex-direction: column;
}
.bp-list {
  margin: 10px;
  padding: 10px;
  line-height: 2.5rem;
  text-align: center;
}
.bp-item {
  font-size: 24px;
}
.wp-list-title {
  font-family: "Cormorant Infant";
  font-size: 32px;
  /* font-weight: bolder; */
  text-decoration: underline;
  margin-bottom: 16px;
  letter-spacing: 3px;
}
.wedding-role {
  align-self: center;
}

.activities {
  max-width: 600px;
}



