div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 0 0;
}

form {
  display: flex;
  flex-direction: column;
}
input {
  margin: 4px 0;
}
select {
  margin: 4px 0;
}

a {
  text-decoration: none;
}
a:link, a:visited, a:active {
  /* use var color from swatch template */
  /* may change active to another color */
  color: black;
}
a:hover {
  color: blue;
}

.content-wrapper {
  margin: 20px;
}

.faux {
  background-color: black;
  color: white !important;
  padding: 5px 20px;
  border-radius: 2px;
}
.faux:hover {
  background-color: green;
}


