:root {
  --primary-background: #f9f9f3;
  --primary-green: rgb(117, 149, 96);
  --accent-darkGreen: rgb(79, 104, 61);
  --accent-darkerGreen: rgb(51, 76, 33);
  --accent-darkGreen-overlay: rgba(79, 104, 61, 0.8);
  --accent-darkGold: #be9b0c;
}

* {
  box-sizing: border-box;
}

html {
  color: var(--primary-green);
  background-color: var(--primary-background);
  scroll-behavior: smooth;
}

body {
  font-family: "Libre Baskerville";
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: var(--primary-background);
  width: 100%;
}
.header-main {
  font-family: "Cormorant Infant";
  font-size: 42px;
  font-weight: 100;
  letter-spacing: 6px;
}
.header-main.page-top {
  font-size: 46px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: inherit;
}

p {
  font-size: 24px;
}

a {
  text-decoration: none;
}
a:link, a:visited, a:active {
  color: var(--primary-green);
}
a:hover {
  color: var(--accent-darkGreen);
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.content-wrapper {
  width: 100%;
  margin: 40px 0;
  text-align: center;
}
.content-wrapper.wp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.general-info {
  margin-top: 20px;
}
.general-info h1 {
  margin: 0;
}
.rsvp-container {
  margin: 20px;
}

.faux {
  background-color: var(--accent-darkGreen);
  color: white !important;
  padding: 5px 20px;
  border-radius: 2px;
  box-shadow: 1.1px 1px 2px var(--accent-darkerGreen);
  font-size: 18px;
}
.faux:hover {
  border: 1px solid var(--accent-darkerGreen);
  background-color: var(--accent-darkGreen-overlay);
}
.faux:active {
  box-shadow: none;
}
.faux.special-case {
  margin: 12px;
}

.address-link {
  text-decoration: underline;
  font-size: 24px;
}

.maids, .men {
  display: flex;
  flex-direction: column;
}
.bp-list {
  margin: 10px;
  padding: 10px;
  line-height: 2.5rem;
  text-align: center;
}
.bp-item {
  font-size: 24px;
}
.wp-list-title {
  font-family: "Cormorant Infant";
  font-size: 32px;
  text-decoration: underline;
  margin-bottom: 20px;
  letter-spacing: 3px;
}
.wedding-role {
  align-self: center;
}

.activities {
  max-width: 600px;
  margin: 12px;
}
.activities p {
  margin: 12px;
}

.events p {
  margin: 12px;
}
.event-title {
  margin: 21px 21px 0px;
}
.event-time {
  margin-top: 0;
}
.attire {
  font-size: 18px;
  font-weight: 600;
}
#io-note {
  font-size: 16px;
  margin: 0;
}

.instructions {
  font-size: 18px; 
}

.question {
  width: 800px;
}

.in-copy-link {
  text-decoration: underline;
}

.travel-option {
  width: 800px;
  margin-bottom: 40px;
}
.travel-option p {
  margin: 12px;
}
.block {
  font-size: 18px;
}